<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Vertices -->
    <bean id="v1" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v1"/>
    </bean>

    <bean id="v2" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v2"/>
    </bean>

    <bean id="v3" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v3"/>
    </bean>

    <bean id="v4" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v4"/>
    </bean>

    <bean id="v5" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v5"/>
    </bean>

    <bean id="v6" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v6"/>
    </bean>

    <bean id="v7" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v7"/>
    </bean>

    <bean id="v8" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v8"/>
    </bean>

    <bean id="v9" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v9"/>
    </bean>

    <bean id="v10" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v10"/>
    </bean>

    <bean id="v11" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v11"/>
    </bean>

    <bean id="v12" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v12"/>
    </bean>

    <bean id="v13" class="ru.nntu.vst.gorbatovskii.genetics.model.Vertex">
        <constructor-arg name="name" value="v13"/>
    </bean>


    <!-- Edges -->
    <bean id="e1_2" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v1"/>
        <constructor-arg name="vertexB" ref="v2"/>
    </bean>

    <bean id="e2_3" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v2"/>
        <constructor-arg name="vertexB" ref="v3"/>
    </bean>

    <bean id="e3_4" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v3"/>
        <constructor-arg name="vertexB" ref="v4"/>
    </bean>

    <bean id="e4_5" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v4"/>
        <constructor-arg name="vertexB" ref="v5"/>
    </bean>

    <bean id="e4_6" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v4"/>
        <constructor-arg name="vertexB" ref="v6"/>
    </bean>

    <bean id="e5_7" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v5"/>
        <constructor-arg name="vertexB" ref="v7"/>
    </bean>

    <bean id="e5_8" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v5"/>
        <constructor-arg name="vertexB" ref="v8"/>
    </bean>

    <bean id="e6_9" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v6"/>
        <constructor-arg name="vertexB" ref="v9"/>
    </bean>

    <bean id="e7_9" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v7"/>
        <constructor-arg name="vertexB" ref="v9"/>
    </bean>

    <bean id="e8_2" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v8"/>
        <constructor-arg name="vertexB" ref="v2"/>
    </bean>

    <bean id="e2_10" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v2"/>
        <constructor-arg name="vertexB" ref="v10"/>
    </bean>

    <bean id="e10_11" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v10"/>
        <constructor-arg name="vertexB" ref="v11"/>
    </bean>

    <bean id="e10_12" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v10"/>
        <constructor-arg name="vertexB" ref="v12"/>
    </bean>

    <bean id="e11_13" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v11"/>
        <constructor-arg name="vertexB" ref="v13"/>
    </bean>

    <bean id="e12_13" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v12"/>
        <constructor-arg name="vertexB" ref="v13"/>
    </bean>

    <bean id="e13_2" class="ru.nntu.vst.gorbatovskii.genetics.model.Edge">
        <constructor-arg name="vertexA" ref="v13"/>
        <constructor-arg name="vertexB" ref="v2"/>
    </bean>

    <!-- Algorithm configuration -->
    <bean id="crossoverAlgorithm" class="ru.nntu.vst.gorbatovskii.genetics.algorithm.impl.SinglePointCrossover"/>
    <bean id="mutationAlgorithm" class="ru.nntu.vst.gorbatovskii.genetics.algorithm.impl.ReplacementMutation"/>
    <bean id="objectiveFunction" class="ru.nntu.vst.gorbatovskii.genetics.algorithm.impl.ObjectiveFunctionImpl"/>

    <bean id="selectionAlgorithm" class="ru.nntu.vst.gorbatovskii.genetics.algorithm.impl.TournamentSelection">
        <constructor-arg value="2"/>
        <property name="objectiveFunction" ref="objectiveFunction"/>
    </bean>

    <bean id="geneticAlgorithm" class="ru.nntu.vst.gorbatovskii.genetics.algorithm.impl.GeneticAlgorithm">
        <constructor-arg name="populationSize" value="50"/>
        <constructor-arg name="mutationRate" value="0.2"/>
        <property name="selectionAlgorithm" ref="selectionAlgorithm"/>
        <property name="crossoverAlgorithm" ref="crossoverAlgorithm"/>
        <property name="objectiveFunction" ref="objectiveFunction"/>
        <property name="mutationAlgorithm" ref="mutationAlgorithm"/>
    </bean>
</beans>
